.<!--<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
-->
  <h2>Choose perspective:</h2>
  <select id="pov-select">
    <option value="white" selected>White</option>
    <option value="black">Black</option>
  </select>

  <div id="chessboard-container"></div>

  <script src="/javascripts/chessboard.js"></script>