#chessboard-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

#chessboard-container div {
  display: flex;
}

#chessboard-container span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4em;
  height: 4em;
  font-size: 2em;
  font-weight: bold;
}

.white-cell {
  background-color: lightblue;
}

.black-cell {
  background-color: lightseagreen;
}
